.nano-url-link-input-text {
    color: #000000;
    margin-right: 10px;
    font-weight: 326;
    font-size: 15px;
    line-height: 27px;
    font-variation-settings: 'slnt' 0;
}

.card-link {
    background: #C4C4C4;
    padding: 6px;
}

.card-container {
    width: 48%;
}

.card-icons {
    width: 20px;
    height: 20px;
    left: 640px;
    bottom: 629px;
    padding-top: 5px;
}