.new-link-box{
    margin-top: 30px;
    background: white;
    padding: 16px;
    position: relative;
    border: 3px solid cornflowerblue;
    border-radius: 16px;
    width: 80%;
    margin-left: 38px;
    display: flex;
}

.nano-url-text-input-text{
    color: black;
    font-weight: bold;
}

.card-url {
    width: 60%;
    text-align: justify;
    padding-top: 6px;
}

.nano-url-copy-bt-input-text{
    margin-right: 10px;
    border: none;
    color: white;
    font-weight: 600;
    background-color: cornflowerblue;
    padding: 7px;
}

.nano-url-new-tab-bt-input-text{
    border: none;
    color: white;
    font-weight: 600;
    background-color: transparent;
    padding: 5px;
}

