.url-list {
   padding: 6px 12px;
   background: white;
   position: relative;
   border: 3px solid cornflowerblue;
   border-radius: 16px;
   margin-bottom: 20px;
 }
 
 .month {
  text-align: left;
 }
 
 .url-content {
    width: 100%;
    display: flex;
 }
 
 .url-name {
   text-align: left;
   width: 90%;
   align-self: center;
 }
 
 .url-clicks {
  width: 10%;
  text-align: center;

 }
 
 .url-copy {
  text-align: left;
 }

 .num-clicks {
   background: #52BED6;
   border-radius: 50px;
   padding: 6px 4px;
   font-weight: bold;
   margin-bottom: 4px;
 }